<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/app.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         codecoverage="true">
    <testsuites>
        <testsuite name="Conarwelsh.com Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app</directory>
            <exclude>
                <!-- <directory>app/*/*Bundle/Resources</directory> -->
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/coverage" />
        <!-- <log type="coverage-xml" target="build/coverage/xml" /> -->
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <!-- <log type="coverage-crap4j" target="build/logs/crap4j.xml" />
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" /> -->
    </logging>
</phpunit>
